body {
    font-size: 14px;
    line-height: 24px;
    color: black;
    font-weight: normal;
    font-family: PTSans NarrowBold, sans-serif;
    background-image: url("img/body-background.jpg");
    background-repeat: repeat;
}

h1 {
	font-size: 30px;
	line-height: 42px;
	color: black;
	font-weight: normal;
	font-family: PTSans NarrowBold, sans-serif;
}

.main-header {
	background-color: #000000;
	background-repeat: repeat-y;
	background-position: center top;
}

.main-footer {
    background: url("img/background-footer.jpg") repeat center bottom;
}
